@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    background: #FFFFFF;
	/*background-image: url(../img/home-page.png);
	background-position: top center;
	background-repeat: no-repeat;
	opacity: 0.5;*/
}

header {
    background: #FEFEFE;
}

.header__top {
    padding: 20px 0;
}

.header__logo {
    padding-right: 30px;
    border-right: 1px solid transparent;
    cursor: pointer;
}

.header__text {
    font-size: 14px;
	line-height: 16px;
	padding-left: 30px;
    color: #9AAFBB;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.header__contacts a {
    text-align: right;
	text-decoration: none;
}

.header__contacts a:hover {
	text-decoration: none;
}


.header__contacts a:hover .header__phone {
	border-bottom: 2px solid #282560;
	color: #282560;
}

.header__phone {
	color: #212121;

}

.phone {	
	border-bottom: 2px solid transparent;
	font-family: 'Roboto Slab', serif;
    text-align: right;
    font-weight: bold;
    font-size: 18px;	
	line-height: 27px;
}

.phone--big {
    font-size: 28px;
}

.header__worktime {
    font-size: 14px;
	line-height: 18px;
    text-align: right;
    letter-spacing: 0.04em;
    color: #9AAFBB;
}

.header__btn-feedback {
	width: 165px;
    height: 45px;	
	margin: 10px;
}

.btn-choose {
	height: 45px;
	min-width: 165px;
	font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: #282560;
    background: linear-gradient(180deg, #FEE735 0%, #FDC62E 100%);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
	border: 0;
    outline: none;	
	padding: 10px 15px;
}
.btn-choose:focus {
	background: linear-gradient(180deg, #FDC62E 0, #FEE735 100%);
	outline: none;
}

.btn-choose:hover {
	background: linear-gradient(180deg, #FDC62E 0, #FEE735 100%);
	outline: none;
}

.header__bottom {
	width: 100%;
	background: #282560;
}

.menu {
    padding-left: 15px;
    margin: 0;
    height: 60px;
    display: inherit;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
}

.menu__item {
    margin-right: 15px;
    padding-top: 19px;
	list-style: none;
}

.menu .menu__item:hover {
    border-bottom: 4px solid #00A7B9;
    cursor: pointer;
    height: 60px;
}

.menu .menu__item:hover a {
    color: #FFFFFF;
	text-decoration: none;
}

.hero-block {
	z-index: -1;
}
/*
.car-indi {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
}

.car-indi + .active {
    background: linear-gradient(180deg, #FEE735 0%, #FDC62E 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.hero-block .hero__title {
    position: absolute;
    width: 1180px;
    height: 231px;
    top: 306px;
    padding: 20px 60px;
    backdrop-filter: blur(15px);
    background: rgba(0, 0, 0, 0.3);   
}
*/
.hero-block {
	display: none;
}

.carousel-view img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.carousel-text {
	max-width: 1200px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	top: -115px;
	padding: 25px 105px 15px;
}
	
.carousel-caption h1 {
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
	line-height: 53px;
    text-align: center;
    color: #FFFFFF;
	margin-bottom: 20px;
}

.carousel-caption p {
    font-size: 20px;
    text-align: center;
	line-height: 23px;
    color: #FFFFFF;
}

.carousel-btn {
	position: relative;
	margin-bottom: -50%;
	transform: translate(0, 50%);
	font-size: 15px;
	padding: 10px 20px;
}

.carousel-indicators li {
	display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    margin: -25px 4px 25px;
    text-indent: 0;
    cursor: pointer;
    border: none;
	background: #FFFFFF;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 16px;
    height: 16px;
	margin: -25px 4px 25px;
    background: linear-gradient(180deg, #FEE735 0%, #FDC62E 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
/*
.hero__navigation {
    position: relative;
    top: 460px;
}

.hero__navigation .hero-block__point {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
}

.hero__navigation .active-point {
    background: linear-gradient(180deg, #FEE735 0%, #FDC62E 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
*/
.statistic {    
	z-index: 2;
    line-height: 21px;
    font-size: 15px;
    text-align: center;
    margin: 0 0 80px;
}

.statistic__content {
	margin: 0 -100px;
    padding: 55px 55px 35px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
	background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
}

.statistic__info {
    width: 25%;
    padding: 0 15px;
}

.statistic-info__circle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #00A7B9;
    box-sizing: border-box;
    color: #212121;
    margin: 23px auto;
}

.circle__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    line-height: 9px;
    font-size: 16px;
}

.circle__title--big {    
	font-family: 'Roboto Slab';
	line-height: 40px;
	font-size: 30px;    
	font-weight: bold;
}

.client {
    background: #E5E5E5;
    padding: 40px 0 80px;
}

.client .client__title {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
	line-height: 47px;
	text-align: center;
    color: #282560;
}

.client .client__text {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
	line-height: 36px;
    text-align: center;
    color: #282560;
}

.client .client__logos {
    margin: 60px auto 0;
}

.client .client__logo {
    display: flex;
	justify-content: center;
	align-items: center;	
    min-height: 115px;
}

.worked {
    padding: 103px 0 50px;
    background: #FFFFFF;
}

.worked__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
    color: #282560;
}

.worked__item {
    display: flex;
    flex-direction: column-reverse;
    padding: 19px 0 42px;
}

.worked__item img {
	display: none;
	padding: 0;
    width: 100%;
    height: auto;
}

.worked-item__description {
    padding: 20px 0;
}

.worked__item:nth-child(odd) .worked-item__description {
    padding: 20px 0;
}

.worked-item__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 26px;
	line-height: 34px;
    color: #282560;
}

.worked-item__info {
    width: 190px;
    height: 80px;
    background: #F5F6F7;
    padding: 20px;
    margin: 20px 0 35px;
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;
}

.worked-item__text {
    line-height: 28px;
    font-size: 16px;
    color: #212121;
}

.worked__btn {
    margin: 28px auto 0;
}

.repair {
    padding: 50px 0;
}

.repair__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 36px;
	line-height: 36px;
    text-align: center;
    color: #282560;
}

.repair__content {
    display: flex;
    flex-direction: column;
    justify-content: ;
    align-items: center;
    padding: 50px 50px 60px 0;
}

.repair__list {
    width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
    justify-content: center;
}    

.repair-list {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.repair-list__item {	
	float: left;
    padding: 10px;
	border-left: 0;
    border-bottom: 2px solid #E6EEF2;
    font-size: 14px;
    color: #9AAFBB;
}

.repair-list__item:hover {
    color: #637986;
    border-bottom: 2px solid #20B2C1;
}

.repair-list__item a, .repair-list__item a:hover {
    text-decoration: none;
    color: inherit; 
}

.repair__image {
	max-width: 100%;
	max-height: 100vh;
}

.repair__image img {
	width: 100%;
}	

.work-type {
    padding: 40px 0;
    margin: 0  auto;
}

.work-type__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #282560;
    margin-bottom: 35px;
}

.work-type__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.work-type__item {
    width: 350px;
    height: 150px;
    margin: 10px;
    padding: 0 50px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    color: #000000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.arguments {
    padding: 55px 0 45px;
}

.arguments__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #282560;
	margin-bottom: 39px;
}

.arguments__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.arguments__item {
    width: 100%;
    padding:  30px 0 10px;
    display: flex;
    flex-direction: column;
}

.arguments-item__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 26px;
    color: #282560;
}

.arguments-item__subtitle {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 18px;
    color: #282560;
}

.arguments-item__text {
	margin-top: 5px;
    line-height: 28px;
    font-size: 16px;
    color: #212121;
}

.thanks-letter {
    padding: 50px 0 110px;
    text-align: center;
}

.thanks-letter__title {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    color: #282560;
}

.thanks-letter__list {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 30px 25px;
}

.thanks-letter__item {
    max-width: 280px;
	padding: 20px 0 0;
}

.thanks-letter__item img {
    width: 100%;
	cursor: pointer;
}

.thanks-letter__more {
    font-family: 'Roboto Slab';
    font-size: 15px;
	line-height: 20px;
    text-align: center;
    color: #00A7B9;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.thanks-letter__more:hover {
    text-decoration-style: solid;
    color: #10B7C9;
}

.send-app {
    margin: 0 auto;
    padding: 75px 130px 85px;
    background: #F8F8F8;
}

.send-app__text {
    max-width: 800px;
    margin: 0 auto;
	text-align: center;
    color: #282560;    
	font-family: 'Roboto Slab';    
	font-weight: bold;
}

.send-app__title {
    font-size: 28px;
	line-height: 37px;
	margin-bottom: 33px;
}

.send-app__subtitle {
    font-size: 32px;
	line-height: 42px;
}

.send-app__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    padding-top: 55px;
}

.send-app__text-field {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;	
    justify-content: center;
	align-items: center;
}

.send-app__input-text {
    width: 380px;
    height: 56px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: rgba(88, 109, 120, 0.6);
    padding: 0 20px;
    margin: 0 10px 30px;
}

.page__title {
    padding: 40px 10%;
}

h1 {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 40px;
    color: #282560;
}

.breadcrumbs {
    list-style: none;
    font-size: 14px;
    color: #637986;
    margin: 0;
    padding: 0;
}

.breadcrumbs a {
    text-decoration: none;
    color: inherit;
}

.breadcrumbs li {
    float: left;
    margin-right: 7px;
}

.breadcrumbs li::before {
    content: " / ";
    color: #637986;
}

.breadcrumbs li:nth-child(1)::before {
    content: "";
}

.breadcrumbs li.active {
    color: orangered;
}

.page__title p {
    margin-top: 20px;
}

.portfolio__pager  {
    margin: 20px auto 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.portfolio__pager button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #00A7B9;
    box-sizing: border-box;
    border-radius: 3px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.portfolio__pager ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.portfolio__pager li {
    float: left;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 16px;
    color: #000000;
    margin: 0 15px;
    text-align: center;
    line-height: 40px;
}

.portfolio__pager li.active {
    width: 30px;
    height: 40px;
    color:#FFFFFF;
    background: #00A7B9;
    border-radius: 3px;
}

.contacts__text {
    width: 100%;
    max-width: 1440px;
    padding: 0 10% 100px;
    margin: 0 auto;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 18px;
    color: #282560;
}

.contacts__text .row {
    padding-bottom: 50px;
}

.contacts__text img {
    margin: 0 20px;
}

.contacts__text a {
    color: inherit;
}

.contacts-text__phone {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
}

#contacts-text__phone-number {
    font-size: 28px;
}

.contacts__map{
    max-width: 1200px;
    margin: 0 auto;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.contacts__map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.gallery {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10%;
    text-align: center;
}

.gallery img {
    margin: 20px;
}

footer {
    background: #333333;
    padding: 45px 0 25px;
}

.footer__top {
    display: flex;
    flex-direction: column;
	flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #616161;
    padding-bottom: 53px;
}

.footer__logo {
	cursor: pointer;
	padding-top: 15px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
	max-width: 50%;
    max-height: 155px;
}

.footer-menu__item {
	font-size: 14px;
    padding: 20px 50px 0;
    margin: 0;
}

.footer-menu__item a {
    text-decoration: none;
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.footer-menu__item a:hover {
    color: rgba(255, 255, 255, 1);
}

.footer__contacts {
	margin-left: auto;
    display: flex;
    flex-direction: column;
}

.footer__contacts a {
    text-align: right;
	text-decoration: none;
}

.footer__contacts a:hover {
	text-decoration: none;
}


.footer__contacts a:hover .phone {
	border-bottom: 2px solid #A7A7A7;
	color: #A7A7A7;
}

.footer__address {
    font-size: 16px;
	line-height: 34px;
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
}

.footer__phone {
    color: #FFFFFF;
	line-height: 34px;
}

.footer__email {
    font-family: 'Roboto Slab';
    font-weight: bold;
    font-size: 18px;
	line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}

.footer__email a {
    color: #FFFFFF;
}

.footer__email a:hover {
    color: #A7A7A7;
}

.footer__copyright {
    padding-top: 36px;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #A7A7A7;
    display: flex;
    justify-content: space-between;
}

.copyright__developer a {
    color: #FFFFFF;
    text-decoration-line: underline;
}


@media (min-width: 576px) {
	.menu__item {
		margin-right: 30px;
	}
}

@media (min-width: 768px) {
	.menu__item {
		margin-right: 60px;
	}	
	.header__logo {
		border-right: 1px solid #E6EEF2;
	}
	.header__btn-feedback {
			margin: 0;
	}
	.hero-block {
		display: block;
	}
	.carousel-view {
		min-height: 280px;
	}
	.statistic {    
		margin: -50px 0 80px;
	}	
	.worked__item img {
		display: block;
	}
	.repair__content {
		flex-direction: row;
		padding: 80px 0 0 82px;
	}
	.repair__list {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 320px;
	}
	.repair-list__item {	
		clear: both;	
		padding: 19px 120px 0px 40px;
		border-bottom: 0;
		border-left: 2px solid #E6EEF2;
	}
	.repair-list__item:hover {
		color: #637986;
		border-bottom: 0;
		border-left: 2px solid #20B2C1;
	}
	.arguments__item {
		width: 50%;
		    padding:  15px 0 20px;
	}
	.footer__top {
		flex-direction: row;
	}
}

@media (min-width: 992px) {
	.carousel-view {
		min-height: 400px;
	}
	.worked__item {
		flex-direction: row;
	}
	.worked__item:nth-child(odd) {
		display: flex;
		flex-direction: row-reverse;
	}
	.worked__item img {
		width: 49%;	
		padding: 0;
	}
	.worked-item__description {
		padding: 20px 0 20px 30px;
	}
}

@media (min-width: 1200px) {
	.header__contact{
		padding-right: 40px;
	}
	.header__text {
		padding-left: 0px;
	}
	.carousel-view {
		min-height: 520px;
	}
	.footer__top {
		justify-content: flex-start;
	}
}


.free-calc__content {
	padding: 60px 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.modal-close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 20px;
	font-size: 22px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
}

.free-calc__title {
	color: #282560;
	font-family: 'Roboto Slab';
	font-weight: bold;
	font-size: 28px;
	line-height: 37px;
	text-align: center;
}

.free-calc__content .send-app__input-text {
	margin: 10px;
	width: 330px;
}

.form-checkbox {
	font-family: 'Roboto';
	font-size: 13px;
	line-height: 18px;
	color: #373A3C;
	margin: 35px 0 15px;
}

.form-checkbox--link {
	color: #FD962E; 
	text-decoration: underline;
	cursor: pointer;
}